<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="newPractice.Listeners"></listener>
	<listener class-name="newPractice.ExtentReporterNG"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="newPractice.ValidateTitle"/>
      <class name="newPractice.HomePage"/>
      <class name="newPractice.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
